doctype html
html
    head
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    body(bgcolor='#F8F9FA' style='margin:0; padding:0;')
        table(bgcolor='#F8F9FA' width='100%' cellpadding='0' cellspacing='0' border='0')
            tbody
                tr(align='center')
                    td(style='padding-top: 20px;')
                        h2(style="font-family:'Arial Black'") Brewzer 🍺🗓
                tr
                    td
                        table(width='98%;' bgcolor='#fff' style='max-width: 600px;margin: 20px auto; border-radius: 10px;' cellpadding='0' cellspacing='0' border='0')
                            tbody
                                tr
                                    td
                                        span(style='display:block; padding: 40px 50px;')
                                            span(style='display:block; font:34px Arial; font-weight:bold; color:#131313;') Восстановление доступа 
                                            span(style='display:block; font:14px Arial; color:#333333; line-height:1.6;margin-top: 10px; margin-bottom: 15px;')
                                                | Уважаемый пользователь, Ваш пароль был сброшен!